<h2 mat-dialog-title>Employee Directory</h2>
<div mat-dialog-content class="mat-dialog-content">
    <mat-tab-group>
        <mat-tab label="manual">
            <div class="container" novalidate>        
                <form  [formGroup]="ClaimFormGroup">   
                    <div class="card">
                        <div class="body" >   
                            <p style="color: blue;">Personal Identification Information:  </p> 
                          <div class="row"  style="justify-content: center;">
                              <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">                                 
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Social Security Number</mat-label>
                                <input matInput type="text" placeholder="Social Security Number" formControlName="ssnCtrl" maxlength="15" (keypress)="numberOnly($event)"/>
                                <mat-error *ngIf="haserror('ssnCtrl','required')">
                                  Enter Social Security Number!
                                 </mat-error>
                                 <mat-error *ngIf="haserror('ssnCtrl','minlength')">
                                   Please provide a valid Social Security Number
                                 </mat-error>
                              </mat-form-field>  
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="dateofbirthCtrl">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>  
                                    <mat-error *ngIf="haserror('dateofbirthCtrl','required')">
                                      Select Date of Birth!
                                     </mat-error>        
                                </mat-form-field>  
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Telephone Number</mat-label>
                                      <input   matInput type="text" placeholder="Telephone Number" formControlName="telephoneNumberCtrl" maxlength="10" (keypress)="numberOnly($event)" />
                                      <mat-error *ngIf="haserror('telephoneNumberCtrl','required')">
                                        Enter Social Security Number!
                                       </mat-error>
                                       <mat-error *ngIf="haserror('telephoneNumberCtrl','minlength')">
                                         Please provide a valid Social Security Number
                                       </mat-error>
                                  </mat-form-field>
                            </div>
                            </div>
                          <div class="row"  style="justify-content: center;">
                           
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Claimant First Name</mat-label>
                                      <input   matInput type="text" placeholder="Claimant First Name" formControlName="claimantFirstNameCtrl" />
                                      <mat-error *ngIf="haserror('claimantFirstNameCtrl','required')">
                                        Enter Claimant First Name!
                                       </mat-error>
                                  </mat-form-field>  
                            </div>
                        
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                                <mat-form-field class="example-full-width" appearance="outline" >
                                    <mat-label>Claimant Middle Name</mat-label>
                                    <input matInput type="text" placeholder="Claimant Middle Name" formControlName="claimantMICtrl" />
                                    <mat-error *ngIf="haserror('claimantMICtrl','required')">
                                      Enter Claimant Middle Name!
                                     </mat-error>
                                  </mat-form-field> 
                            </div>
                          
                            <div class="col-xl-12col-lg-12 col-md-1 col-sm-1 mb-1">
                                  <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-select 
                                    placeholder="Suffix" formControlName="claimantsuffixCtrl" 
                                    name="cs"  >                         
                                    <mat-option *ngFor="let cs of namesuffixs" [value]="cs.namesuffixId">
                                      {{cs.code}}
                                    </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="haserror('claimantsuffixCtrl','required')">
                                      Enter Claimant Suffix!
                                     </mat-error>
                                </mat-form-field> 
                                  
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-2 col-sm-2 mb-1">
                                <mat-form-field style="width: 100%;" appearance="outline" >
                                    <mat-label>Claimant Last Name</mat-label>
                                    <input matInput type="text" placeholder="Claimant Last Name" formControlName="claimantlastnameCtrl" />
                                    <mat-error *ngIf="haserror('claimantlastnameCtrl','required')">
                                      Enter Claimant Last Name!
                                     </mat-error>
                                  </mat-form-field> 
                            </div>
                           
                          </div>
                       
                          <div class="row"  style="justify-content: center;">
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                                <mat-form-field class="example-full-width" appearance="outline">
                                      <mat-label>Mailing Street Address</mat-label>
                                        <input   matInput type="text" placeholder="Mailing Street Address" formControlName="mailingstreetaddressCtrl" />
                                        <mat-error *ngIf="haserror('mailingstreetaddressCtrl','required')">
                                          Enter Mailing Street Address!
                                         </mat-error>
                                    </mat-form-field>   
                              </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Mailing City</mat-label>
                                          <input   matInput type="text" placeholder="Mailing City" formControlName="mailingcityCtrl" />
                                          <mat-error *ngIf="haserror('mailingcityCtrl','required')">
                                            Enter Mailing City!
                                           </mat-error>
                                      </mat-form-field>
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-1 col-sm-1 mb-1">
                              <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label> State</mat-label>
                                <mat-select 
                                placeholder="State" formControlName="mailingstateCtrl" 
                                name="st"  >                         
                                <mat-option *ngFor="let st of states" [value]="st.stateId">
                                  {{st.stateCode}}
                                </mat-option>
                                </mat-select>
                                <mat-error *ngIf="haserror('mailingstateCtrl','required')">
                                  Select Mailing State!
                                 </mat-error>
                            </mat-form-field> 
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-2 col-sm-2 mb-1">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Zip code</mat-label>
                                <input matInput type="text" placeholder="Zip Code" formControlName="zipCodeCtrl" />
                                <mat-error *ngIf="haserror('zipCodeCtrl','required')">
                                  Enter Zip Code!
                                 </mat-error>
                            </mat-form-field> 
                            </div>
                           
                          </div>
                          <p style="color: blue;">Demographics: </p> 
                          <div class="row"  style="justify-content: center;">
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-select 
                                placeholder="Gender" formControlName="genderCtrl" 
                                name="gender"  >                         
                                <mat-option *ngFor="let gen of genders" [value]="gen.genderId">
                                  {{gen.code}}
                                </mat-option>
                                </mat-select>
                                <mat-error *ngIf="haserror('genderCtrl','required')">
                                  Select Gender!
                                 </mat-error>
                            </mat-form-field> 
                              </div>
                              <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                                <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Handicap</mat-label>
                                  <mat-select 
                                  placeholder="Handicap" formControlName="handicapCtrl"
                                  name="handicaps"  >                         
                                  <mat-option *ngFor="let hc of handicaps" [value]="hc.handicapId">
                                    {{hc.code}}
                                  </mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="haserror('handicapCtrl','required')">
                                    Select Handicap!
                                   </mat-error>
                              </mat-form-field> 
                              </div>
                              <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                                <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Veteran Status</mat-label>
                                  <mat-select 
                                  placeholder="Veteran Status" formControlName="veteranStatusCtrl"
                                  name="veterans"  >                         
                                  <mat-option *ngFor="let vt of veterans" [value]="vt.veteranId">
                                    {{vt.code}}
                                  </mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="haserror('veteranStatusCtrl','required')">
                                    Select Veteran Status!
                                   </mat-error>
                              </mat-form-field>
                              </div>
                          </div>
                          <div class="row"  style="justify-content: center;">
                            
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Race</mat-label>
                                <mat-select 
                                placeholder="Race" formControlName="raceCtrl"
                                name="races"  >                         
                                <mat-option *ngFor="let rc of races" [value]="rc.raceId">
                                  {{rc.code}}
                                </mat-option>
                                </mat-select>
                                <mat-error *ngIf="haserror('raceCtrl','required')">
                                  Select Race!
                                 </mat-error>
                            </mat-form-field>
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Ethnicity</mat-label>
                                <mat-select 
                                placeholder="Ethnicity" formControlName="ethnicityCtrl"
                                name="ethnicity"  >                         
                                <mat-option *ngFor="let et of ethnicity" [value]="et.ethnicityId">
                                  {{et.code}}
                                </mat-option>
                                </mat-select>
                                <mat-error *ngIf="haserror('ethnicityCtrl','required')">
                                  Select Ethnicity!
                                 </mat-error>
                            </mat-form-field>
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Federal with Holdings</mat-label>
                                <mat-select 
                                placeholder="Federal with Holdings" formControlName="federalwithHoldingsCtrl"
                                name="withholdings"  >                         
                                <mat-option *ngFor="let wh of withholdings" [value]="wh">
                                  {{wh.code}}
                                </mat-option>
                                </mat-select>
                                <mat-error *ngIf="haserror('federalwithHoldingsCtrl','required')">
                                  Select Federal with Holdings!
                                 </mat-error>
                            </mat-form-field>
                            </div>
                          
                          </div>
                          <div class="row"  style="justify-content: center;">
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                                <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Citizen</mat-label>
                                  <mat-select 
                                  placeholder="Citizen" formControlName="citizenCtrl"
                                  name="citizens"  >                         
                                  <mat-option *ngFor="let ct of citizens" [value]="ct.citizenId">
                                    {{ct.code}}
                                  </mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="haserror('citizenCtrl','required')">
                                    Select Citizen!
                                   </mat-error>
                              </mat-form-field>
                              </div>
                              <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Authorized Alien Number</mat-label>
                                      <input   matInput type="text" placeholder="Authorized Alien Number" formControlName="authorizedalienNumberCtrl" />
                                      <mat-error *ngIf="haserror('authorizedalienNumberCtrl','required')">
                                        Enter Claimant Last Name!
                                       </mat-error>
                                  </mat-form-field>  
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1"></div>
                          </div>
                          <div class="row"  style="justify-content: center;">
                          
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Education</mat-label>
                                        <mat-select 
                                        placeholder="Education" formControlName="educationCtrl"
                                        name="educations"  >                         
                                        <mat-option *ngFor="let ed of educations" [value]="ed.educationId">
                                          {{ed.code}}
                                        </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="haserror('educationCtrl','required')">
                                          Select Education!
                                         </mat-error>
                                    </mat-form-field>
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Occupation</mat-label>
                                          <input   matInput type="text" placeholder="Occupation" formControlName="occupationCtrl" />
                                      </mat-form-field>
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1"></div>
                          </div>
                          <p style="color: blue;"> Climant Pay Details: </p> 
                          <div class="row"  style="justify-content: center;">
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Week Ending Date</mat-label>
                                      <input   matInput type="text" placeholder="Week Ending Date" formControlName="weekendingdateCtrl" />
                                      <mat-error *ngIf="haserror('weekendingdateCtrl','required')">
                                        Enter Week Ending Date!
                                       </mat-error>
                                  </mat-form-field>
                              </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Last Date Worked</mat-label>
                                    <input   matInput type="text" placeholder="Last Date Worked" formControlName="lastdateworkedCtrl" />
                                    <mat-error *ngIf="haserror('lastdateworkedCtrl','required')">
                                      Enter Last Date Worked!
                                     </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Earnings $</mat-label>
                                  <input   matInput type="text" placeholder="Earnings $" formControlName="earningsCtrl" />
                                  <mat-error *ngIf="haserror('earningsCtrl','required')">
                                    Enter Earnings!
                                   </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row"  style="justify-content: center;" >
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Vacation Pay $</mat-label>
                                    <input   matInput type="text" placeholder="Vacation Pay $" formControlName="vacationPayCtrl" />
                                    <mat-error *ngIf="haserror('vacationPayCtrl','required')">
                                      Enter Vacation Pay!
                                     </mat-error>
                                </mat-form-field>
                              </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Holiday Pay $</mat-label>
                                          <input   matInput type="text" placeholder="Holiday Pay $" formControlName="holidayPayCtrl" />
                                          <mat-error *ngIf="haserror('holidayPayCtrl','required')">
                                            Enter Holiday Pay!
                                           </mat-error>
                                      </mat-form-field>
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Other Pay $</mat-label>
                                            <input   matInput type="text" placeholder="Other Pay $" formControlName="otherPayCtrl" />
                                            <mat-error *ngIf="haserror('otherPayCtrl','required')">
                                              Enter Other Pay!
                                             </mat-error>
                                        </mat-form-field>
                            </div>
                          </div>
                          <div class="row"  style="justify-content: center;">
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Other State Wages</mat-label>
                                    <mat-select 
                                    placeholder="Other State Wages" formControlName="otherstatewagesCtrl"
                                    name="otherwages"  >                         
                                    <mat-option *ngFor="let ow of otherwages" [value]="ow.otherwageId">
                                      {{ow.code}}
                                    </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="haserror('otherstatewagesCtrl','required')">
                                      Select Other State Wages!
                                     </mat-error>
                                </mat-form-field>
                              </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                            
                            </div>
                            <div class="col-xl-12col-lg-12 col-md-3 col-sm-3 mb-1">
                             
                            </div>
                          </div>
                          <div class="container-auth-form-btn" style="text-align: center;">
                            <button mat-flat-button color="primary" type="submit" style="margin-right:  20px;" (click)="onSubmit()">
                              <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i>
              {{button}}                                  
                             </button>
                            <button mat-flat-button color="primary" (click)="onReset()" style="margin-right:  20px;">Clear</button>
                            <button color="primary" mat-flat-button mat-dialog-close >Close</button>
                      </div>
  
                    </div>
                  </div>
                         
                      
                  </form>
                </div>
        </mat-tab>
        <mat-tab label="fileupload"> 
            <div class="file-drop-area">
                <button mat-raised-button color="primary">Choose file</button>
                <span>{{file ? file.name : ' or drag and drop file here' }}</span>
                <input class="file-input" type="file">
              </div>
        </mat-tab>
      </mat-tab-group>  
</div>